.map-container {
    position: relative;
    top: 60px;
    left: 120px;
    right: 30px;
    bottom: 15px;
    
}

.map-frame {
    border: 2px solid black;
    width: 800px;
    height: 600px;
    
}

#map {
height: 100%;
justify-content: center;
}